{% from "/public/macros/buttons.html.twig" import button, icon %}
{% from "/public/macros/text.html.twig" import title, paragraph %}

<fieldset
        class="form-tab form-tab-{{ tabClass ?: block('title')|slugify }} kd-w-full kd-relative kd-m-0 kd-p-0 kd-border-0 {{ isVisible ? '' : 'kd-hidden' }}"
        data-requirements={{ requirements }}>

    {% set _title = block('title') %}
    {% set _text = block('text') %}

    <legend class="kd-block kd-m-auto">{{ title(block('title')) }}</legend>
    {{ paragraph(block('text')) }}

    {% block body %}{% endblock %}

    <div class="kudos_modal_buttons kd-mt-8 kd-block kd-text-center kd-relative">
        {% block nav_buttons %}
            {% block back_button %}
                <div class="kd-absolute kd-left-0 kd-bottom-1/2 kd-transform kd-translate-y-1/2">
                    {{ icon('back', __('Previous tab', 'kudos-donations')) }}
                </div>
            {% endblock %}
            {{ button(__('Cancel', 'kudos-donations'), 'outline', 'button', {'data-micromodal-close': ''}) }}
            {% block next_button %}
                {{ button(__('Next', 'kudos-donations'), 'primary', 'button', {'data-direction': 'next', 'class' : 'kd-ml-3'} ) }}
            {% endblock %}
        {% endblock %}
    </div>

    <div class="kd-block kd-mt-2">{% block footer %}{% endblock %}</div>

</fieldset>