{% from "public/macros/buttons.html.twig" import button, icon %}

<fieldset
        class="form-tab form-tab-{{ name }} kd-block kd-w-full kd-relative kd-m-0 kd-p-0 kd-border-0 {{ isVisible ? '' : 'kd-hidden' }}"
        data-requirements="{{ requirements }}" data-name="{{ name }}">

    {% set _text = block('text') %}

    <legend class="kd-block kd-m-auto">
        <h2 class="kudos_modal_title kd-font-normal kd-font-serif kd-text-4xl kd-m-0 kd-mb-2 kd-text-gray-900 kd-block kd-text-center">
            {% block title %}{% endblock %}
        </h2>
    </legend>

    <p class="kd-text-lg kd-text-gray-900 kd-text-center kd-block kd-font-normal kd-mb-4">
        {% block text %}{% endblock %}
    </p>

    {% block body %}{% endblock %}
    <div class="kudos-modal-buttons kd-mt-8 kd-flex kd-justify-center kd-relative">
        {% block back_button %}
            <span
                class="focus:kd-ring hover:kd-text-primary-dark kd-hidden xs:kd-inline kd-absolute kd-transition-shadow kd-ease-in-out kd-ring-primary kd-ring-offset-2 kd-rounded-full kd-bg-back-button kd-w-5 kd-h-5 kd-cursor-pointer kd-self-center kd-left-0 kd-bottom-1/2 kd-transform kd-translate-y-1/2"
                data-direction="back"
                title="{{ __('Previous tab', 'kudos-donations') }}"
                tabindex="0"
            ></span>

            {{ button('', 'outline', 'button', {
                'class': 'kd-block xs:kd-hidden kd-bg-back-button kd-bg-no-repeat kd-bg-center kd-block kd-mr-3 kd-p-3',
                'data-direction': "back"
            }) }}
        {% endblock %}

        {% block cancel_button %}
        {{ button(__('Cancel', 'kudos-donations'), 'outline', 'button', {
            'data-micromodal-close': '',

        }) }}
        {% endblock %}

        {% block next_button %}
            {{ button(__('Next', 'kudos-donations'), 'primary', 'button', {
                'data-direction': 'next',
                'class' : 'kd-ml-3'
            } ) }}
        {% endblock %}
    </div>

    {% block footer %}{% endblock %}

</fieldset>