{% macro input(name, label, value=null, type='text', required=true, atts={}) %}

    {% set styles = ['kd-transition kd-ease-in-out kd-border-solid kd-cursor-pointer kd-m-0 kd-placeholder-gray-500 focus:kd-outline-none'] %}

    {% if ( 'text' == type or 'email' == type ) %}
        {% set focus = 'focus:kd-border-theme' %}
        {% set generic = 'kd-cursor-text kd-appearance-none kd-leading-normal kd-bg-transparent kd-border-gray-300 kd-border-2 kd-border-solid focus:kd-border-theme kd-transition-colors kd-duration-150 kd-ease-in-out kd-rounded kd-w-full kd-py-2 kd-px-3 kd-text-base kd-text-gray-700' %}
        {% set styles = styles | merge([ focus, generic ]) %}
    {% endif %}

    {% if ( 'radio' == type or 'checkbox' == type ) %}
        {% set checked = 'checked:kd-bg-theme' %}
        {% set focus = 'focus:kd-shadow-focus' %}
        {% set generic = 'kd-duration-75 kd-bg-white kd-shadow-inner kd-border kd-border-theme kd-inline-block kd-w-4 kd-h-4 kd-m-2 kd-p-0 kd-align-middle kd-min-w-1 kd-leading-none kd-outline-none kd-text-center kd-clear-none' %}
        {% set styles = styles | merge([ checked, focus, generic ]) %}
    {% endif %}

    {% if 'radio' == type %}
        {% set generic = 'kd-rounded-full' %}
        {% set styles = styles | merge([ generic ]) %}
    {% endif %}

    <input class="{{ styles | join(' ') }}"
            {{ required ? 'required' : '' }}
           type="{{ type }}"
           name="{{ name }}"
            {{ value ? 'value=' ~ value : '' }}
           placeholder="{{ label ~ (required ?  ' *' : '') }}"
            {% for key, value in atts %}
                {{ key ~ '=' ~ value }}
            {% endfor %}
    />
{% endmacro %}

{% macro text(name, label, type, required=true, atts) %}
    {% from _self import input %}
    <label class="kd-inline-block kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2 kd-w-full">
        {{ input(name, label, null, 'text', required, atts) }}
    </label>
{% endmacro %}

{% macro radio(name, options, selected, required=true) %}
    {% from _self import input %}
    <div class="kd-flex kd-justify-center kd-items-center kd-mt-4">
        {% for value, label in options %}
            <label class="kd-flex kd-items-center kd-cursor-pointer kd-font-normal kd-mr-3 kd-mt-2">
                {{ input(name, '', value, 'radio', required, { (selected == value ? 'checked' : '' ) : ''}) }}
                {{ label }}
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{% macro checkbox(name, label, value='true', required=true) %}
    {% from _self import input %}
    <label class="kd-flex kd-items-center kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2">
        {{ input(name, label, value, 'checkbox', required) }}
        {{ label | raw }}
    </label>
{% endmacro %}

{% macro select(name, placeholder, options, required=true) %}
    <label class="kd-inline-block kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2 kd-w-full">
        <select class="kd-appearance-none kd-leading-normal kd-bg-transparent kd-border-gray-300 kd-border-2 kd-border-solid focus:kd-border-theme kd-transition-colors kd-duration-150 kd-ease-in-out kd-rounded kd-w-full kd-py-2 kd-px-3 kd-text-base kd-text-gray-700"
                {{ required ? 'required' : '' }}
                name="{{ name }}">
            <option value=""
                    disabled
                    selected>
                {{ placeholder }}
            </option>
            {% for value, text in options %}
                <option value="{{ value }}">{{ text }}</option>
            {% endfor %}
        </select>
    </label>
{% endmacro %}