{% extends 'emails/base.html.twig' %}

{% block preheader %}
    {{ __('This is a receipt for your recent donation on', 'kudos-donations') }} {{ purchase_date | date('m/d/y') }}
{% endblock preheader %}

{% block body %}
    <h1>{{__('Hi', 'kudos-donations') ~ ' ' ~ name}},</h1>
    <p>{{ __('Thanks for your donation. This email is the receipt for your records.', 'kudos-donations') }}</p>
    <table class="purchase" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td>
                <h3>{{ __('Order ID', 'kudos-donations') }}: {{receipt_id}}</h3></td>
            <td>
                <h3 class="align-right">{{ __('Date', 'kudos-donations') }}: {{date | date('m/d/y')}}</h3></td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <th class="purchase_heading" align="left">
                            <p class="f-fallback">{{ __('Description', 'kudos-donations') }}</p>
                        </th>
                        <th class="purchase_heading" align="right">
                            <p class="f-fallback">{{ __('Amount', 'kudos-donations') }}</p>
                        </th>
                    </tr>
                    <tr>
                        <td width="80%" class="purchase_item"><span class="f-fallback">{{description}}</span></td>
                        <td class="align-right" width="20%" class="purchase_item"><span class="f-fallback">{{amount}}</span></td>
                    </tr>
                    <tr>
                        <td width="80%" class="purchase_footer" valign="middle">
                            <p class="f-fallback purchase_total purchase_total--label">{{ __('Total', 'kudos-donations') }}</p>
                        </td>
                        <td width="20%" class="purchase_footer" valign="middle">
                            <p class="f-fallback purchase_total">{{amount}}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>{{ __('Thanks', 'kudos-donations') }},
        <br>{{ website_name }}</p>
    <!-- Cancel subscription -->
    {% if cancel_url %}
        <table class="body-sub" role="presentation">
            <tr>
                <td>
                    <p class="f-fallback sub">{{ __('Want to cancel your subscription?', 'kudos-donations') }} <a href="{{ cancel_url }}">{{ __('Click here', 'kudos-donations') }}</a>.</p>
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock body %}