{% macro button(label, style='primary', type='button', atts={}) %}

    {% set transition = 'kd-transition kd-ease-in-out' %}
    {% set focus = 'focus:kd-ring-primary focus:kd-ring focus:kd-ring-offset-2' %}
    {% set text = 'kd-text-center kd-text-white kd-leading-normal kd-font-normal kd-normal-case kd-no-underline' %}
    {% set generic = 'kd-w-auto kd-h-auto kd-inline-flex kd-items-center kd-select-none kd-py-3 kd-px-5 kd-rounded-lg kd-cursor-pointer kd-shadow-none' %}
    {% set extra = '' %}

    {% if 'outline' == style %}
        {% set style = 'kd-text-primary kd-border kd-border-solid kd-border-primary kd-bg-transparent hover:kd-bg-primary-dark hover:kd-text-white' %}
    {% endif %}
    {% if 'primary' == style %}
        {% set style = 'kd-border-none kd-bg-primary hover:kd-bg-primary-dark' %}
    {% endif %}

    {% if atts.class is defined %}
        {% set extra = atts.class %}
        {% set atts = atts | filter((v, k) => k != 'class') %}
    {% endif %}

    {% set styles = [transition, focus, text, generic, style, extra] | join(' ') %}

    <button
            type={{ type }}
            class="{{ styles }}"
            aria-label="{{ label }}"
            {% for key, value in atts %}
                {{ key ~ '=' ~ value }}
            {% endfor %}
    >
        {{ label | wp_kses_post }}
    </button>

{% endmacro %}