{# Builder macro used for above macros, not to be called directly. #}
{% macro build_input(props) %}

    {# Common styles #}
    {% set global = 'kd-appearance-none kd-m-0 kd-text-left kd-placeholder-gray-500 kd-border kd-border-solid kd-border-gray-300' %}
    {% set transition = 'kd-transition kd-ease-in-out kd-duration-75' %}
    {% set generic = 'kd-text-gray-700' %}
    {% set focus = 'focus:kd-border-primary focus:kd-outline-none' %}
    {% set styles = [] | merge([ global, transition, generic, focus, props.class ]) %}

    {# Build input element #}
    <input
        name="{{ props.name }}"
        class="{{ styles | join(' ') }}"
        type="{{ props.type ?? 'text' }}"
        {% if props.placeholder %}
                placeholder="{{ props.placeholder ? props.placeholder ~ (props.required ? ' *') }}"
        {% endif %}
        {{ (props.required ? "required") }}
        {% for attr, value in props.atts %}
            {% if value %}
                {{ attr }}="{{ value }}"
            {% endif %}
        {% endfor %}
    >
{% endmacro %}

{# String base inputs (text, email, number #}
{% macro input(props) %}
    {% from _self import build_input %}

    {% set props = props|merge({
        class: "focus:kd-ring-0 kd-order-1 kd-py-2 kd-px-3 kd-rounded kd-w-full" ~ (props.label ? " kd-rounded-l-none")
    }) %}

    <label class="kd-flex kd-cursor-pointer kd-font-normal kd-mt-2 kd-w-full">
        {{ build_input(props) }}
        {% if props.label %}
            <span class="kd-break-normal kd-text-gray-500 kd-m-0 kd-transition-shadow kd-transition-colors kd-ease-in-out kd-py-2 kd-px-3 kd-rounded-l kd-block kd-border kd-border-r-0 kd-border-solid kd-border-gray-300">{{ props.label }}</span>
        {% endif %}
    </label>
{% endmacro %}

{# Radio inputs #}
{% macro radio(props) %}
    {% from _self import build_input %}

    {% set props = props|merge({
        type: 'radio',
        class: 'checked:kd-bg-radio-checked checked:kd-bg-primary kd-transition kd-ease-in-out kd-rounded-full kd-border-primary kd-inline-block kd-w-4 kd-h-4 kd-m-2 kd-p-0 focus:kd-ring-primary focus:kd-ring kd-ring-offset-2',
    }) %}

    <div class="kd-flex kd-justify-center kd-items-center kd-mt-4">
        {% for value, label in props.options %}
            {% set newProps = props|merge({
                atts: {
                    value: value,
                    checked: (props.selected == value ? 'checked'),
                    'aria-label': label
                }
            }) %}
            <label
                    class="kd-flex kd-items-center kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2">
                {{ build_input(newProps) }}
                {{ label }} {{ ('true' == required ? ' *') }}
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{# Checkbox input #}
{% macro checkbox(props) %}
    {% from _self import build_input %}

    {% set props = props|merge({
        type: 'checkbox',
        class: 'checked:kd-bg-checkbox-checked checked:kd-bg-primary kd-transition kd-ease-in-out kd-align-middle kd-shadow-inner kd-border-primary kd-ring-primary focus:kd-ring kd-ring-offset-2 kd-inline-block kd-w-4 kd-h-4 kd-m-2',
        value: 'true'
    }) %}

    <label class="kd-inline-block kd-items-center kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2">
        {{ build_input(props) }}
        {{ props.label | wp_kses_post }} {{ ('true' == required ? ' *') }}
    </label>
{% endmacro %}

{# Radio inputs #}
{% macro radio_buttons(props) %}
    {% from _self import build_input %}
    {% set length = props.options|length %}

    <div class="kd-radio-buttons kd-flex kd-flex-row kd-flex-wrap kd--mx-2">
        {% for key,value in props.options %}
            {% set id = props.atts.id ~ '-' ~ key %}
            <div class="kudos-radio-amount kd-flex-grow kd-w-2/4 kd-mt-2 xs:kd-mb-0 {{ (length == 1 ? 'xs:kd-w-full' : length == 2 ? 'xs:kd-w-2/4' : length == 3 ? 'xs:kd-w-1/3' : length == 4 ? 'xs:kd-w-1/4' : '') }} kd-px-2 kd-m-0">
                {{ build_input(props|merge({
                    type: 'radio',
                    class: 'kd-opacity-0 focus:kd-shadow-none kd-absolute kd--z-1',
                    atts: {
                        value: value|replace({' ': ''}),
                        checked: (key==0 ? 'checked'),
                        id: id
                    }
                })) }}
                <label class="kd-m-0 kd-transition-shadow kd-transition-colors kd-ease-in-out kd-py-2 kd-rounded kd-cursor-pointer kd-text-center kd-block kd-border kd-border-solid kd-border-gray-300"
                       for="{{ id }}">€{{ value }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{# Select box #}
{% macro select(props) %}

        <label class="kd-inline-block kd-relative kd-cursor-pointer kd-font-normal kd-mt-2 kd-w-full">
                <select
                        class="kd-bg-select kd-bg-no-repeat kd-appearance-none kd-bg-right-2 kd-border-gray-300 kd-border kd-border-solid focus:kd-border-primary focus:kd-ring-primary kd-transition-colors kd-ease-in-out kd-rounded kd-w-full kd-py-2 kd-px-3 kd-text-gray-700"
                        {{ (props.required ? "required") }}
                        name="{{ props.name }}"
                        aria-label="{{ props.placeholder ?? props.label }}"
                        style="background-size: 1.5em 1.5em"
                >
                    <option value=""
                            disabled
                            selected>
                        {{ props.placeholder ? props.placeholder ~ (props.required ? ' *') }}
                    </option>
                    {% for value, text in props.options %}
                        <option value="{{ value }}">{{ text }}</option>
                    {% endfor %}
                </select>
        </label>
{% endmacro %}

{# Text area element #}
{% macro text_area(props) %}
    <label class="kd-inline-block kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2 kd-w-full">
        <textarea
                name="{{ props.name }}"
                placeholder="{{ props.placeholder }}"
                aria-label="{{ props.placeholder ?? props.label }}"
                class="kd-cursor-text kd-appearance-none focus:kd-outline-none kd-leading-normal kd-bg-transparent kd-border kd-border-solid kd-border-gray-300 kd-transition-colors kd-ease-in-out kd-rounded kd-w-full kd-py-2 kd-px-3 kd-text-gray-700 focus:kd-ring-primary focus:kd-border-primary kd-leading-normal kd-ease-in-out kd-border-solid kd-cursor-pointer kd-text-left kd-m-0 kd-placeholder-gray-500 kd-transition kd-transition-colors kd-ease-in-out kd-duration-75"
                maxlength="255"
                rows="4" cols="50"
                {{ (props.required ? "required") }}
                {% for key, value in props.atts %}
                    {% if value %}
                        {{ key ~ '=' ~ value }}
                    {% endif %}
                {% endfor %}
        ></textarea>
    </label>
{% endmacro %}