<div class="has-text-align-{{ alignment }}">
    <button type="button"
            class="kd-transition kd-ease-in-out focus:kd-ring-primary focus:kd-ring-2 focus:kd-ring-offset-2 focus:kd-outline-none kd-text-center kd-text-white kd-leading-normal kd-text-base kd-font-normal kd-normal-case kd-no-underline kd-w-auto kd-h-auto kd-inline-flex kd-items-center kd-select-none kd-py-3 kd-px-5 kd-m-1 kd-rounded-lg kd-cursor-pointer kd-shadow-none kd-border-none kd-bg-primary hover:kd-bg-primary-dark kd-font-sans kd-logo-animate kudos_button_donate"
            aria-label="{{ label }}"
            data-target="{{ target }}">
        {% if(logo) %}
        <span class="kd-flex kd-mr-3 kd-w-[24px] kd-h-[24px]">
            {{ logo | raw }}
        </span>
        {% endif %}
        {{ label }}
    </button>
</div>