{% from "/public/macros/logo.html.twig" import logo %}
{% from "/public/macros/buttons.html.twig" import icon %}

<div id="{{ modal_id ?: 'kudos_modal-1' }}" class="kudos_modal {{ classes }} kd-absolute kd-hidden" aria-hidden="true">
    <div class="kudos_modal_overlay kd-flex kd-justify-center kd-items-center kd-fixed kd-top-0 kd-left-0 kd-w-full kd-h-full kd-bg-modal kd-z-1050"
         tabindex="-1">
        <div data-page="1"
             class="kudos_modal_container kd-bg-white kd-p-8 kd-rounded-lg kd-max-h-screen kd-max-w-lg kd-relative kd-overflow-hidden"
             role="dialog" aria-modal="true" aria-labelledby="kudos_modal_title">
            <header class="kudos_modal_header kd-flex kd-items-center kd-justify-between">
                <a target="_blank" title="{{ __('Visit Kudos Donations', 'kudos-donations') }}"
                   class="kd-cursor-pointer kd-flex kd-logo-animate" href="https://kudosdonations.com">
                    <span class="kd-mr-3 kd-inline-block" style="width: 30px; height: 25px; cursor: inherit">
                        {{ logo('color') }}
                    </span>
                </a>
                {% block header %}
                {% endblock header %}
                {{ icon('close', __('Close modal', 'kudos-donations'), 5) }}
            </header>
            <div class="kd-mt-4 kd-block">
                <p class="kd-text-center kd-block kd-font-normal kd-mb-4">
                    <small class="kudos_error_message kd-text-sm kd-text-red-500"></small>
                </p>
                {% block content %}
                {% endblock content %}
                <i class="kudos_spinner kd-animate-spin kd-hidden kd-bg-contain kd-absolute kd-top-1/2 kd-left-1/2 kd-w-8 kd-h-8 kd--ml-4 kd--mt-4 kd-z-1">
                    {{ logo('black') }}
                </i>
            </div>
        </div>
    </div>
</div>