{% extends 'public/modal/base.html.twig' %}
{% set modal_id = 'kudos_form_modal' %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block text %}
    {{ text }}
{% endblock text %}

{% block footer %}
    <form id="kudos_form" action="">
        {{ nonce|raw }}
        <label>
            <input name="return_url" type="hidden" value="{{ return_url }}">
        </label>
        <label>
            <input {{ (name_required ? 'required' : '')}} type="text" name="name" placeholder="{{ __('Name', 'kudos-donations') ~ ((name_required) ? ' *' : null) }}" />
        </label>
        <label>
            <input {{ (email_required ? 'required' : '')}} type="email" name="email_address" placeholder="{{ __('E-mail address', 'kudos-donations') ~ ((email_required) ? ' *' : null) }}" />
        </label>
        <label>
            <input required type="text" min="1" name="value" placeholder="{{ __('Amount', 'kudos-donations')}} *" />
        </label>
        <div class="payment_by {{ vendor }}">
            <small class="text-gray-600">
                {{ payment_by }}
            </small>
        </div>
        <div class="kudos_modal_buttons text-center">
            <button class="kudos_button style-orange-outline mr-3" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
            <button id="kudos_submit" name="kudos_submit" class="kudos_button style-orange" type="submit" aria-label="{{ __('Donate', 'kudos-donations') }}">{{ __('Donate', 'kudos-donations') }}</button>
        </div>
    </form>
{% endblock footer %}
