{% extends 'public/modal/base.html.twig' %}
{% set classes = 'kudos_form_modal' %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block text %}
    {{ text }}
{% endblock text %}

{% block footer %}

    <form class="kudos_form" action="">
        {{ nonce|raw }}
        <div class="form-tabs">

            {#   INITIAL FIELDS   #}
            <fieldset class="form-tab form-tab-1 current-tab">
                <label>
                    <input class="kudos_field" name="return_url" type="hidden" value="{{ return_url }}">
                </label>
                <label>
                    <input class="kudos_field" required type="text" min="1" name="value" placeholder="{{ __('Amount', 'kudos-donations')}} *" />
                </label>
                <label>
                    <select required class="kudos_field" name="payment_frequency">
                        <option value="oneoff">{{ __('Frequency: One-off', 'kudos-donations') }}</option>
                        <option value="12 months">{{ __('Frequency: Yearly', 'kudos-donations') }}</option>
                        <option value="1 month">{{ __('Frequency: Monthly', 'kudos-donations') }}</option>
                    </select>
                </label>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button name="kudos_submit" class="kudos_button kudos_form_nav" data-direction="next" type="button" aria-label="{{ __('Next', 'kudos-donations') }}">{{ __('Next', 'kudos-donations') }}</button>
                </div>
            </fieldset>

            {#   SECOND TAB   #}
            <fieldset class="form-tab form-tab-2">
                <label>
                    <input class="kudos_field" {{ (name_required ? 'required' : '')}} type="text" name="name" placeholder="{{ __('Name', 'kudos-donations') ~ ((name_required) ? ' *' : null) }}" />
                </label>
                <label>
                    <input class="kudos_field" {{ (email_required ? 'required' : '')}} type="email" name="email_address" placeholder="{{ __('E-mail address', 'kudos-donations') ~ ((email_required) ? ' *' : null) }}" />
                </label>
                <label>
                    <input class="kudos_field" type="text" name="street" placeholder="{{ __('Street', 'kudos-donations') }}" />
                </label>
                <label>
                    <input class="kudos_field" type="text" name="postcode" placeholder="{{ __('Postcode', 'kudos-donations') }}" />
                </label>
                <label>
                    <input class="kudos_field" type="text" name="city" placeholder="{{ __('City', 'kudos-donations') }}" />
                </label>
                <div class="payment_by {{ vendor }}">
                    <small>
                        {{ payment_by }}
                    </small>
                </div>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <p class="kudos_form_nav kudos_back" data-direction="back"><</p>
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button name="kudos_submit" class="kudos_submit kudos_button" type="submit" aria-label="{{ __('Donate', 'kudos-donations') }}">{{ __('Donate', 'kudos-donations') }}</button>
                </div>
            </fieldset>
        </div>
    </form>

    <style>
        {{ '#' ~ modal_id }} .kudos_form input:focus {
            border-color: {{ color }}
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button.button-style-outline {
             background-color: transparent;
             color: {{ color }};
             border-color: {{ color }}
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button {
             background-color: {{ color }};
         }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button:hover {
             background-color: {{ color_luminance(color, '-0.05') }};
         }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button.button-style-outline:hover {
             color: #fff;
             background-color: {{ color_luminance(color, '-0.08') }};
             border-color: {{ color }};
         }
    </style>

{% endblock footer %}
