{% extends 'public/modal/base.html.twig' %}
{% set classes = 'kudos_form_modal' %}
{% set premium = false %}

{% block header %}
    {{ header }}
{% endblock header %}

{% block text %}
{% endblock text %}

{% block footer %}

    <form class="kudos_form" action="">

        {{ nonce|raw }}
        <input required class="kudos_field" name="return_url" type="hidden" value="{{ return_url }}">
        <input required class="kudos_field" name="donation_label" type="hidden" value="{{ donation_label }}">

        <div class="form-tabs">

            {#   INITIAL FIELDS   #}
            <fieldset class="form-tab form-tab-initial current-tab">
                <p class="kudos_modal_text">{{ text }}</p>
                <label>
                    <input class="kudos_field" required type="text" min="1" name="value" data-type='currency' placeholder="{{ __('Amount', 'kudos-donations')}} (€) *" />
                </label>
                <label>
                    <input class="kudos_field" required type="text" name="name" placeholder="{{ __('Name', 'kudos-donations') }} *" />
                </label>
                <label>
                    <input class="kudos_field" required type="email" name="email_address" placeholder="{{ __('E-mail address', 'kudos-donations') }} *" />
                </label>
                <div class="kudos_input_group">
                    <label>
                        {{ __('One-off', 'kudos-donations') }}
                        <input required checked type="radio" name="payment_frequency" value="oneoff" />
                        <span class="checkmark"></span>
                    </label>
                    <label>
                        {{ __('Recurring', 'kudos-donations') }}
                        <input type="radio" name="payment_frequency" value="recurring" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button class="kudos_button kudos_form_nav" data-direction="next" type="button" aria-label="{{ __('Next', 'kudos-donations') }}">{{ __('Next', 'kudos-donations') }}</button>
                </div>
            </fieldset>

            {#   PAYMENT FREQUENCY TAB   #}
            <fieldset class="form-tab form-tab-frequency" data-requirements='{"payment_frequency":"recurring"}'>
                <p class="kudos_modal_text">How often would you like to donate?</p>
                <label>
                    <select required id="recurring_length" class="kudos_field" name="recurring_length">
                        <option value="" disabled selected>Recurring length</option>
                        <option value="0">{{ __('Continuous', 'kudos-donations')}}</option>
                        <option value="1">{{ __('Years', 'kudos-donations')}}: 1</option>
                        <option value="2">{{ __('Years', 'kudos-donations')}}: 2</option>
                        <option value="3">{{ __('Years', 'kudos-donations')}}: 3</option>
                        <option value="4">{{ __('Years', 'kudos-donations')}}: 4</option>
                        <option value="5">{{ __('Years', 'kudos-donations')}}: 5</option>
                        <option value="6">{{ __('Years', 'kudos-donations')}}: 6</option>
                        <option value="7">{{ __('Years', 'kudos-donations')}}: 7</option>
                        <option value="8">{{ __('Years', 'kudos-donations')}}: 8</option>
                        <option value="9">{{ __('Years', 'kudos-donations')}}: 9</option>
                        <option value="10">{{ __('Years', 'kudos-donations')}}: 10</option>
                    </select>
                </label>
                <label>
                    <select required class="kudos_field" name="recurring_frequency">
                        <option value="" disabled selected>Recurring frequency</option>
                        <option value="12 months">{{ __('Frequency: Yearly', 'kudos-donations') }}</option>
                        <option value="3 months">{{ __('Frequency: Quarterly', 'kudos-donations') }}</option>
                        <option value="1 month">{{ __('Frequency: Monthly', 'kudos-donations') }}</option>
                    </select>
                </label>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <p class="kudos_form_nav kudos_back" data-direction="back"></p>
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button class="kudos_button kudos_form_nav" data-direction="next" type="button" aria-label="{{ __('Next', 'kudos-donations') }}">{{ __('Next', 'kudos-donations') }}</button>
                </div>
            </fieldset>

            {#   TAX AGREEMENT TAB   #}
            {% if(premium) %}
            <fieldset class="form-tab form-tab-tax" data-requirements='{"recurring_length": ["0", "5", "6", "7", "8", "9", "10"] }'>
                <p class="kudos_modal_text">Do you want a tax deduction agreement?</p>
                <div class="kudos_input_group">
                    <label>
                        {{ __('Yes', 'kudos-donations') }}
                        <input required type="radio" name="tax_deduction" value="true" />
                        <span class="checkmark"></span>
                    </label>
                    <label>
                        {{ __('No', 'kudos-donations') }}
                        <input checked type="radio" name="tax_deduction" value="false" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <p class="kudos_form_nav kudos_back" data-direction="back"></p>
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button class="kudos_button kudos_form_nav" data-direction="next" type="button" aria-label="{{ __('Next', 'kudos-donations') }}">{{ __('Next', 'kudos-donations') }}</button>
                </div>
            </fieldset>
            {% endif %}

            {#   ADDRESS TAB   #}
            <fieldset class="form-tab form-tab-address">
                <label>
                    <input {{ address_required ? 'required' : null }} class="kudos_field" type="text" name="street" placeholder="{{ __('Street', 'kudos-donations') }} {{ address_required ? '*' : null }}" />
                </label>
                <label>
                    <input {{ address_required ? 'required' : null }} class="kudos_field" type="text" name="postcode" placeholder="{{ __('Postcode', 'kudos-donations') }} {{ address_required ? '*' : null }}" />
                </label>
                <label>
                    <input {{ address_required ? 'required' : null }} class="kudos_field" type="text" name="city" placeholder="{{ __('City', 'kudos-donations') }} {{ address_required ? '*' : null }}" />
                </label>
                <label>
                    <input {{ address_required ? 'required' : null }} class="kudos_field" type="text" name="country" placeholder="{{ __('Country', 'kudos-donations') }} {{ address_required ? '*' : null }}" />
                </label>
                <div class="kudos_modal_buttons" style="text-align: center">
                    <p class="kudos_form_nav kudos_back" data-direction="back"></p>
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button class="kudos_button kudos_form_nav" data-direction="next" type="button" aria-label="{{ __('Next', 'kudos-donations') }}">{{ __('Next', 'kudos-donations') }}</button>
                </div>
            </fieldset>

            {#   FINAL TAB   #}
            <fieldset class="form-tab form-tab-final">
                <p class="kudos_modal_text">{{ __('By clicking donate you agree to the following payment', 'kudos-donations') }}: </p>
                <div class="kudos_summary text-left">
                    <p class="mb-0"><strong>{{ __('Name', 'kudos-donations') }}: </strong><span id="summary_name"></span></p>
                    <p class="mb-0"><strong>{{ __('Email', 'kudos-donations') }}: </strong><span id="summary_email"></span></p>
                    <p class="mb-0"><strong>{{ __('Amount', 'kudos-donations') }}: </strong>€<span id="summary_value"></span></p>
                    <p><strong>{{ __('Type', 'kudos-donations') }}: </strong><span id="summary_frequency"></span></p>
                </div>
                <div class="kudos_input_group">
                    <label>
                        {{ privacy_link | raw }}
                        <input required type="checkbox" name="avg" value="true" />
                        <span class="checkmark"></span>
                    </label>
                </div>
{#                <div class="payment_by {{ vendor }}">#}
{#                    <small>#}
{#                        {{ payment_by }}#}
{#                    </small>#}
{#                </div>#}
                <div class="kudos_modal_buttons" style="text-align: center">
                    <p class="kudos_form_nav kudos_back" data-direction="back"></p>
                    <button class="button-style-outline kudos_button" type="button" data-micromodal-close aria-label="{{ __('Cancel', 'kudos-donations') }}">{{ __('Cancel', 'kudos-donations') }}</button>
                    <button name="kudos_submit" class="kudos_submit kudos_button" type="submit" aria-label="{{ __('Donate', 'kudos-donations') }}">{{ __('Donate', 'kudos-donations') }}</button>
                </div>
            </fieldset>
        </div>
    </form>

    <style>
        {{ '#' ~ modal_id }} .kudos_form input:focus {
            border-color: {{ color }}
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button.button-style-outline {
             background-color: transparent;
             color: {{ color }};
             border-color: {{ color }}
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button {
             background-color: {{ color }};
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button:hover {
             background-color: {{ color_luminance(color, '-0.05') }};
        }
        {{ '#' ~ modal_id }} .kudos_modal_buttons button.kudos_button.button-style-outline:hover {
             color: #fff;
             background-color: {{ color_luminance(color, '-0.08') }};
             border-color: {{ color }};
        }
        {{ '#' ~ modal_id }} .checkmark::before {
            background-color: {{ color }};
        }
        {{ '#' ~ modal_id }} a {
            color: {{ color }}
        }
        {{ '#' ~ modal_id }} a:hover {
            color: {{ color_luminance(color, '-0.08') }}
        }
    </style>

{% endblock footer %}
