{% extends 'public/modal/base.html.twig' %}
{% set classes = 'kudos_form_modal' %}
{% set premium = false %}

{% block content %}

    <form class="kudos_form m-0 p-0" action="">

        {{ nonce|raw }}
        <input required name="return_url" type="hidden" value="{{ return_url }}">
        <input name="donation_label" type="hidden" value="{{ donation_label }}">

        <div class="form-tabs block">

            {#   INITIAL FIELDS   #}
            {% embed '/public/modal/partials/_tab.html.twig' %}
                {% block title %}{{ title }}{% endblock %}
                {% block text %}{{ text }}{% endblock %}
                {% block body %}
                    {% include('/public/modal/partials/_initial.fields.html.twig') %}
                {% endblock %}
            {% endembed %}

            {#   PAYMENT FREQUENCY TAB   #}
            {% embed '/public/modal/partials/_tab.html.twig' with { requirements: '{"payment_frequency":"recurring"}'} %}
                {% block title %}{{ __('Subscription', 'kudos-donations') }}{% endblock %}
                {% block text %}{{ __('How often would you like to donate?', 'kudos-donations') }}{% endblock %}
                {% block body %}
                    {% include('/public/modal/partials/_subscription.fields.html.twig') %}
                {% endblock %}
            {% endembed %}

            {#   ADDRESS TAB   #}
            {% if(address.enabled) %}
                {% embed '/public/modal/partials/_tab.html.twig' %}
                    {% block title %}{{ __('Address', 'kudos-donations') }}{% endblock %}
                    {% block text %}{{ __('Please fill in you address', 'kudos-donations') ~ (address.required ? null : ' (' ~ __('optional', 'kudos-donations') ~ ')') }}{% endblock %}
                    {% block body %}
                        {% include('/public/modal/partials/_address.fields.html.twig') %}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {#   FINAL TAB   #}
            {% embed '/public/modal/partials/_tab.html.twig' with { class: 'final' } %}
                {% block title %}{{ __('Payment', 'kudos-donations') }}{% endblock %}
                {% block text %}{{ __('By clicking donate you agree to the following payment', 'kudos-donations') }}{% endblock %}
                {% block body %}
                    <div class="kudos_summary text-left block bg-gray-300 p-2 border-0 border-solid border-t-2 border-orange-500">
                        <p class="mb-0"><strong>{{ __('Name', 'kudos-donations') }}: </strong><span class="summary_name"></span></p>
                        <p class="mb-0"><strong>{{ __('Email', 'kudos-donations') }}: </strong><span class="summary_email"></span></p>
                        <p class="mb-0"><strong>{{ __('Amount', 'kudos-donations') }}: </strong>€<span class="summary_value"></span></p>
                        <p><strong>{{ __('Type', 'kudos-donations') }}: </strong><span class="summary_frequency"></span></p>
                    </div>
                    <label>
                        <input required type="checkbox" name="avg" value="true" />
                        {{ privacy_link | raw }}
                    </label>
                {% endblock %}
                {% block next_button %}
                    <button name="kudos_submit" class="kudos_submit kudos_button_primary kudos_button" type="submit" aria-label="{{ __('Donate', 'kudos-donations') }}">{{ __('Donate', 'kudos-donations') }}</button>
                {% endblock %}
            {% endembed %}

        </div>
    </form>

    <i class="kudos_spinner absolute top-1/2 left-1/2 w-8 h-8 -ml-4 -mt-4 z-1"></i>

{% endblock content %}
