<form id="kudos-form-{{ id }}" data-ts="{{ 'now' | date('U') }}"
      class="kudos-form kd-relative kd-inline-block kd-w-full kd-my-0 kd-p-0 kd-max-w-lg"
      action="/">

    <small class="kudos_error_message kd-text-center kd-hidden kd-block kd-font-normal kd-mb-4 kd-text-sm kd-text-red-500"></small>

    <input name="return_url" type="hidden" value="{{ return_url }}">
    <input name="campaign_id" type="hidden" value="{{ campaign_id }}">

    {# INITIAL FIELDS #}
    {% embed 'public/modal/_tab.html.twig' with { name: 'initial', isVisible: true} %}
        {% block title %}{{ welcome_title }}{% endblock %}
        {% block text %}
            {{ welcome_text | wp_kses_post }}
        {% endblock %}
        {% block body %}
            {% from "public/macros/form.html.twig" import input_group, radio_buttons, input, radio %}
            {% from "public/macros/progress.bar.html.twig" import progress %}

            {# Show campaign progress #}
            {% if show_progress %}
                {{ progress(campaign_goal, campaign_stats.total) }}
            {% endif %}

            {# Fixed amount fields #}
            {% if ( amount_type != 'open' ) %}
                {{ radio_buttons({
                    name: 'value',
                    options: fixed_amounts|split(','),
                    atts: { id: 'value-fixed-' ~ id }
                }) }}
            {% endif %}

            {# Open amount field with "Other" label #}
            {% if amount_type == 'both' %}
                {{ input({
                    name: 'value',
                    required: false,
                    label: __('Other', 'kudos-donations'),
                    placeholder: __('Amount', 'kudos-donations') ~ ' (€)',
                    atts: { 'id': 'value-open-both-' ~ id, 'min': '1', 'max': maximum_donation, 'data-type': 'currency', 'inputmode': 'numeric', 'aria-label' : __('Custom amount', 'kudos-donations') }
                }) }}
            {% endif %}

            {# Open amount field #}
            {% if amount_type == 'open' %}
                {{ input({
                    name: 'value',
                    inputmode: 'numeric',
                    required: true,
                    placeholder: __('Amount', 'kudos-donations') ~ ' (€)',
                    atts: { 'min': '1', 'max': maximum_donation, 'data-type': 'currency', 'inputmode': 'numeric', 'aria-label' : __('Amount', 'kudos-donations')  }
                }) }}
            {% endif %}

            {# Name field #}
            {{ input({
                name: 'name',
                required: true,
                placeholder: __('Name', 'kudos-donations'),
                atts: {'aria-label' : __('Name', 'kudos-donations')}
            }) }}

            {# Honeypot spam protection #}
            {% if spam_protection %}
                <label class="kd-cursor-pointer kd-font-normal kd-mr-2 kd-mt-2 kd-w-full">
                    <input class="kd-appearance-none kd-m-0 kd-text-left kd-placeholder-gray-500 kd-border kd-border-solid kd-border-gray-300 kd-transition kd-ease-in-out kd-duration-75 kd-text-gray-700 focus:kd-border-primary focus:kd-outline-none focus:kd-ring-0 kd-order-1 kd-py-2 kd-px-3 kd-rounded kd-w-full"
                           type="number" name="donation" tabindex="-1"
                           placeholder="Your donation">
                </label>
            {% endif %}

            {# Email field #}
            {{ input({
                name: 'email_address',
                required: true,
                placeholder: __('E-mail address', 'kudos-donations'),
                type: 'email',
                atts: {'aria-label' : __('E-mail address', 'kudos-donations')}
            }) }}

            {# Payment frequency fields #}
            {% if (frequency == 'oneoff' or recurring_allowed == false) %}
                <input checked type="hidden" name="payment_frequency" value="oneoff"/>
            {% elseif(frequency == 'recurring') %}
                <input checked type="hidden" name="payment_frequency" value="recurring"/>
            {% else %}
                {{ radio({
                    name: 'payment_frequency',
                    options: {
                        'oneoff': __('One-off', 'kudos-donations'),
                        'recurring': __('Recurring', 'kudos-donations')
                    },
                    selected: 'oneoff'
                }) }}
            {% endif %}

        {% endblock %}

        {# Ensures back button not visible on first tab #}
        {% block back_button %}{% endblock %}
    {% endembed %}

    {# PAYMENT FREQUENCY TAB #}
    {% embed 'public/modal/_tab.html.twig' with { name: 'payment-frequency', requirements: '{"payment_frequency":"recurring"}'} %}
        {% block title %}{{ __('Subscription', 'kudos-donations') }}{% endblock %}
        {% block text %}{{ __('How often would you like to donate?', 'kudos-donations') }}{% endblock %}
        {% block body %}
            {% from "public/macros/form.html.twig" import select %}

            {# Recurring payment frequency #}
            {{ select({
                name: 'recurring_frequency',
                required: true,
                placeholder: __('Payment frequency', 'kudos-donations'),
                options: {
                    '12 months': __('Yearly', 'kudos-donations'),
                    '3 months': __('Quarterly', 'kudos-donations'),
                    '1 month': __('Monthly', 'kudos-donations')
                }
            }) }}

            {# Recurring payment length #}
            {% set length = { 0: __('Continuous', 'kudos-donations') } %}
            {% for i in 1..10 %}
                {% set length = length | merge({
                    (i): _n( '%u year', '%u years', i, 'kudos-donations' )|format(i)
                }) %}
            {% endfor %}
            {{ select({
                name: 'recurring_length',
                required: true,
                placeholder: __('Donation duration', 'kudos-donations'),
                options: length
            }) }}

        {% endblock %}
    {% endembed %}

    {# ADDRESS TAB #}
    {% if(address_enabled) %}
        {% embed 'public/modal/_tab.html.twig' with { name: 'address' } %}
            {% block title %}{{ __('Address', 'kudos-donations') }}{% endblock %}
            {% block text %}{{ __('Please fill in your address', 'kudos-donations') ~ (address_required ? null : ' (' ~ __('optional', 'kudos-donations') ~ ')') ~ '.' }}{% endblock %}
            {% block body %}
                {% from "public/macros/form.html.twig" import input, select %}

                {{ input({ name: 'business_name', placeholder: __('Business name', 'kudos-donations'), required: false }) }}
                {{ input({ name: 'street', placeholder: __('Street', 'kudos-donations'), required: address_required }) }}
                {{ input({ name: 'postcode', placeholder: __('Postcode', 'kudos-donations'), required: address_required }) }}
                {{ input({ name: 'city', placeholder: __('City', 'kudos-donations'), required: address_required }) }}
                {{ select({ name: 'country', placeholder: __('Country', 'kudos-donations'), options: {
                    "AF": __("Afghanistan", "kudos-donations"),
                    "AX": __("Åland Islands", "kudos-donations"),
                    "AL": __("Albania", "kudos-donations"),
                    "DZ": __("Algeria", "kudos-donations"),
                    "AS": __("American Samoa", "kudos-donations"),
                    "AD": __("Andorra", "kudos-donations"),
                    "AO": __("Angola", "kudos-donations"),
                    "AI": __("Anguilla", "kudos-donations"),
                    "AQ": __("Antarctica", "kudos-donations"),
                    "AG": __("Antigua and Barbuda", "kudos-donations"),
                    "AR": __("Argentina", "kudos-donations"),
                    "AM": __("Armenia", "kudos-donations"),
                    "AW": __("Aruba", "kudos-donations"),
                    "AU": __("Australia", "kudos-donations"),
                    "AT": __("Austria", "kudos-donations"),
                    "AZ": __("Azerbaijan", "kudos-donations"),
                    "BS": __("Bahamas", "kudos-donations"),
                    "BH": __("Bahrain", "kudos-donations"),
                    "BD": __("Bangladesh", "kudos-donations"),
                    "BB": __("Barbados", "kudos-donations"),
                    "BY": __("Belarus", "kudos-donations"),
                    "BE": __("Belgium", "kudos-donations"),
                    "BZ": __("Belize", "kudos-donations"),
                    "BJ": __("Benin", "kudos-donations"),
                    "BM": __("Bermuda", "kudos-donations"),
                    "BT": __("Bhutan", "kudos-donations"),
                    "BO": __("Bolivia", "kudos-donations"),
                    "BA": __("Bosnia and Herzegovina", "kudos-donations"),
                    "BW": __("Botswana", "kudos-donations"),
                    "BV": __("Bouvet Island", "kudos-donations"),
                    "BR": __("Brazil", "kudos-donations"),
                    "IO": __("British Indian Ocean Territory", "kudos-donations"),
                    "BN": __("Brunei Darussalam", "kudos-donations"),
                    "BG": __("Bulgaria", "kudos-donations"),
                    "BF": __("Burkina Faso", "kudos-donations"),
                    "BI": __("Burundi", "kudos-donations"),
                    "KH": __("Cambodia", "kudos-donations"),
                    "CM": __("Cameroon", "kudos-donations"),
                    "CA": __("Canada", "kudos-donations"),
                    "CV": __("Cape Verde", "kudos-donations"),
                    "KY": __("Cayman Islands", "kudos-donations"),
                    "CF": __("Central African Republic", "kudos-donations"),
                    "TD": __("Chad", "kudos-donations"),
                    "CL": __("Chile", "kudos-donations"),
                    "CN": __("China", "kudos-donations"),
                    "CX": __("Christmas Island", "kudos-donations"),
                    "CC": __("Cocos (Keeling) Islands", "kudos-donations"),
                    "CO": __("Colombia", "kudos-donations"),
                    "KM": __("Comoros", "kudos-donations"),
                    "CG": __("Congo", "kudos-donations"),
                    "CD": __("Congo, The Democratic Republic of The", "kudos-donations"),
                    "CK": __("Cook Islands", "kudos-donations"),
                    "CR": __("Costa Rica", "kudos-donations"),
                    "CI": __("Cote D'ivoire", "kudos-donations"),
                    "HR": __("Croatia", "kudos-donations"),
                    "CU": __("Cuba", "kudos-donations"),
                    "CY": __("Cyprus", "kudos-donations"),
                    "CZ": __("Czechia", "kudos-donations"),
                    "DK": __("Denmark", "kudos-donations"),
                    "DJ": __("Djibouti", "kudos-donations"),
                    "DM": __("Dominica", "kudos-donations"),
                    "DO": __("Dominican Republic", "kudos-donations"),
                    "EC": __("Ecuador", "kudos-donations"),
                    "EG": __("Egypt", "kudos-donations"),
                    "SV": __("El Salvador", "kudos-donations"),
                    "GQ": __("Equatorial Guinea", "kudos-donations"),
                    "ER": __("Eritrea", "kudos-donations"),
                    "EE": __("Estonia", "kudos-donations"),
                    "ET": __("Ethiopia", "kudos-donations"),
                    "FK": __("Falkland Islands (Malvinas", "kudos-donations"),
                    "FO": __("Faroe Islands", "kudos-donations"),
                    "FJ": __("Fiji", "kudos-donations"),
                    "FI": __("Finland", "kudos-donations"),
                    "FR": __("France", "kudos-donations"),
                    "GF": __("French Guiana", "kudos-donations"),
                    "PF": __("French Polynesia", "kudos-donations"),
                    "TF": __("French Southern Territories", "kudos-donations"),
                    "GA": __("Gabon", "kudos-donations"),
                    "GM": __("Gambia", "kudos-donations"),
                    "GE": __("Georgia", "kudos-donations"),
                    "DE": __("Germany", "kudos-donations"),
                    "GH": __("Ghana", "kudos-donations"),
                    "GI": __("Gibraltar", "kudos-donations"),
                    "GR": __("Greece", "kudos-donations"),
                    "GL": __("Greenland", "kudos-donations"),
                    "GD": __("Grenada", "kudos-donations"),
                    "GP": __("Guadeloupe", "kudos-donations"),
                    "GU": __("Guam", "kudos-donations"),
                    "GT": __("Guatemala", "kudos-donations"),
                    "GG": __("Guernsey", "kudos-donations"),
                    "GN": __("Guinea", "kudos-donations"),
                    "GW": __("Guinea-bissau", "kudos-donations"),
                    "GY": __("Guyana", "kudos-donations"),
                    "HT": __("Haiti", "kudos-donations"),
                    "HM": __("Heard Island and Mcdonald Islands", "kudos-donations"),
                    "VA": __("Holy See (Vatican City State", "kudos-donations"),
                    "HN": __("Honduras", "kudos-donations"),
                    "HK": __("Hong Kong", "kudos-donations"),
                    "HU": __("Hungary", "kudos-donations"),
                    "IS": __("Iceland", "kudos-donations"),
                    "IN": __("India", "kudos-donations"),
                    "ID": __("Indonesia", "kudos-donations"),
                    "IR": __("Iran, Islamic Republic of", "kudos-donations"),
                    "IQ": __("Iraq", "kudos-donations"),
                    "IE": __("Ireland", "kudos-donations"),
                    "IM": __("Isle of Man", "kudos-donations"),
                    "IL": __("Israel", "kudos-donations"),
                    "IT": __("Italy", "kudos-donations"),
                    "JM": __("Jamaica", "kudos-donations"),
                    "JP": __("Japan", "kudos-donations"),
                    "JE": __("Jersey", "kudos-donations"),
                    "JO": __("Jordan", "kudos-donations"),
                    "KZ": __("Kazakhstan", "kudos-donations"),
                    "KE": __("Kenya", "kudos-donations"),
                    "KI": __("Kiribati", "kudos-donations"),
                    "KP": __("Korea, Democratic People's Republic of", "kudos-donations"),
                    "KR": __("Korea, Republic of", "kudos-donations"),
                    "KW": __("Kuwait", "kudos-donations"),
                    "KG": __("Kyrgyzstan", "kudos-donations"),
                    "LA": __("Lao People's Democratic Republic", "kudos-donations"),
                    "LV": __("Latvia", "kudos-donations"),
                    "LB": __("Lebanon", "kudos-donations"),
                    "LS": __("Lesotho", "kudos-donations"),
                    "LR": __("Liberia", "kudos-donations"),
                    "LY": __("Libyan Arab Jamahiriya", "kudos-donations"),
                    "LI": __("Liechtenstein", "kudos-donations"),
                    "LT": __("Lithuania", "kudos-donations"),
                    "LU": __("Luxembourg", "kudos-donations"),
                    "MO": __("Macao", "kudos-donations"),
                    "MK": __("Macedonia, The Former Yugoslav Republic of", "kudos-donations"),
                    "MG": __("Madagascar", "kudos-donations"),
                    "MW": __("Malawi", "kudos-donations"),
                    "MY": __("Malaysia", "kudos-donations"),
                    "MV": __("Maldives", "kudos-donations"),
                    "ML": __("Mali", "kudos-donations"),
                    "MT": __("Malta", "kudos-donations"),
                    "MH": __("Marshall Islands", "kudos-donations"),
                    "MQ": __("Martinique", "kudos-donations"),
                    "MR": __("Mauritania", "kudos-donations"),
                    "MU": __("Mauritius", "kudos-donations"),
                    "YT": __("Mayotte", "kudos-donations"),
                    "MX": __("Mexico", "kudos-donations"),
                    "FM": __("Micronesia, Federated States of", "kudos-donations"),
                    "MD": __("Moldova, Republic of", "kudos-donations"),
                    "MC": __("Monaco", "kudos-donations"),
                    "MN": __("Mongolia", "kudos-donations"),
                    "ME": __("Montenegro", "kudos-donations"),
                    "MS": __("Montserrat", "kudos-donations"),
                    "MA": __("Morocco", "kudos-donations"),
                    "MZ": __("Mozambique", "kudos-donations"),
                    "MM": __("Myanmar", "kudos-donations"),
                    "NA": __("Namibia", "kudos-donations"),
                    "NR": __("Nauru", "kudos-donations"),
                    "NP": __("Nepal", "kudos-donations"),
                    "NL": __("Netherlands", "kudos-donations"),
                    "AN": __("Netherlands Antilles", "kudos-donations"),
                    "NC": __("New Caledonia", "kudos-donations"),
                    "NZ": __("New Zealand", "kudos-donations"),
                    "NI": __("Nicaragua", "kudos-donations"),
                    "NE": __("Niger", "kudos-donations"),
                    "NG": __("Nigeria", "kudos-donations"),
                    "NU": __("Niue", "kudos-donations"),
                    "NF": __("Norfolk Island", "kudos-donations"),
                    "MP": __("Northern Mariana Islands", "kudos-donations"),
                    "NO": __("Norway", "kudos-donations"),
                    "OM": __("Oman", "kudos-donations"),
                    "PK": __("Pakistan", "kudos-donations"),
                    "PW": __("Palau", "kudos-donations"),
                    "PS": __("Palestinian Territory, Occupied", "kudos-donations"),
                    "PA": __("Panama", "kudos-donations"),
                    "PG": __("Papua New Guinea", "kudos-donations"),
                    "PY": __("Paraguay", "kudos-donations"),
                    "PE": __("Peru", "kudos-donations"),
                    "PH": __("Philippines", "kudos-donations"),
                    "PN": __("Pitcairn", "kudos-donations"),
                    "PL": __("Poland", "kudos-donations"),
                    "PT": __("Portugal", "kudos-donations"),
                    "PR": __("Puerto Rico", "kudos-donations"),
                    "QA": __("Qatar", "kudos-donations"),
                    "RE": __("Reunion", "kudos-donations"),
                    "RO": __("Romania", "kudos-donations"),
                    "RU": __("Russian Federation", "kudos-donations"),
                    "RW": __("Rwanda", "kudos-donations"),
                    "SH": __("Saint Helena", "kudos-donations"),
                    "KN": __("Saint Kitts and Nevis", "kudos-donations"),
                    "LC": __("Saint Lucia", "kudos-donations"),
                    "PM": __("Saint Pierre and Miquelon", "kudos-donations"),
                    "VC": __("Saint Vincent and The Grenadines", "kudos-donations"),
                    "WS": __("Samoa", "kudos-donations"),
                    "SM": __("San Marino", "kudos-donations"),
                    "ST": __("Sao Tome and Principe", "kudos-donations"),
                    "SA": __("Saudi Arabia", "kudos-donations"),
                    "SN": __("Senegal", "kudos-donations"),
                    "RS": __("Serbia", "kudos-donations"),
                    "SC": __("Seychelles", "kudos-donations"),
                    "SL": __("Sierra Leone", "kudos-donations"),
                    "SG": __("Singapore", "kudos-donations"),
                    "SK": __("Slovakia", "kudos-donations"),
                    "SI": __("Slovenia", "kudos-donations"),
                    "SB": __("Solomon Islands", "kudos-donations"),
                    "SO": __("Somalia", "kudos-donations"),
                    "ZA": __("South Africa", "kudos-donations"),
                    "GS": __("South Georgia and The South Sandwich Islands", "kudos-donations"),
                    "ES": __("Spain", "kudos-donations"),
                    "LK": __("Sri Lanka", "kudos-donations"),
                    "SD": __("Sudan", "kudos-donations"),
                    "SR": __("Suriname", "kudos-donations"),
                    "SJ": __("Svalbard and Jan Mayen", "kudos-donations"),
                    "SZ": __("Swaziland", "kudos-donations"),
                    "SE": __("Sweden", "kudos-donations"),
                    "CH": __("Switzerland", "kudos-donations"),
                    "SY": __("Syrian Arab Republic", "kudos-donations"),
                    "TW": __("Taiwan, Province of China", "kudos-donations"),
                    "TJ": __("Tajikistan", "kudos-donations"),
                    "TZ": __("Tanzania, United Republic of", "kudos-donations"),
                    "TH": __("Thailand", "kudos-donations"),
                    "TL": __("Timor-leste", "kudos-donations"),
                    "TG": __("Togo", "kudos-donations"),
                    "TK": __("Tokelau", "kudos-donations"),
                    "TO": __("Tonga", "kudos-donations"),
                    "TT": __("Trinidad and Tobago", "kudos-donations"),
                    "TN": __("Tunisia", "kudos-donations"),
                    "TR": __("Turkey", "kudos-donations"),
                    "TM": __("Turkmenistan", "kudos-donations"),
                    "TC": __("Turks and Caicos Islands", "kudos-donations"),
                    "TV": __("Tuvalu", "kudos-donations"),
                    "UG": __("Uganda", "kudos-donations"),
                    "UA": __("Ukraine", "kudos-donations"),
                    "AE": __("United Arab Emirates", "kudos-donations"),
                    "GB": __("United Kingdom", "kudos-donations"),
                    "US": __("United States", "kudos-donations"),
                    "UM": __("United States Minor Outlying Islands", "kudos-donations"),
                    "UY": __("Uruguay", "kudos-donations"),
                    "UZ": __("Uzbekistan", "kudos-donations"),
                    "VU": __("Vanuatu", "kudos-donations"),
                    "VE": __("Venezuela", "kudos-donations"),
                    "VN": __("Viet Nam", "kudos-donations"),
                    "VG": __("Virgin Islands, British", "kudos-donations"),
                    "VI": __("Virgin Islands, U.S", "kudos-donations"),
                    "WF": __("Wallis and Futuna", "kudos-donations"),
                    "EH": __("Western Sahara", "kudos-donations"),
                    "YE": __("Yemen", "kudos-donations"),
                    "ZM": __("Zambia", "kudos-donations"),
                    "ZW": __("Zimbabwe", "kudos-donations"),
                }, required: address_required }) }}

            {% endblock %}
        {% endembed %}
    {% endif %}

    {# MESSAGE TAB #}
    {% if(message_enabled) %}
        {% embed 'public/modal/_tab.html.twig' with { name: 'message' } %}
            {% block title %}{{ __('Message', 'kudos-donations') }}{% endblock %}
            {% block text %}{{ __('Leave a message (optional).', 'kudos-donations') }}{% endblock %}
            {% block body %}
                {% from "public/macros/form.html.twig" import text_area %}

                {{ text_area({
                    name: 'message',
                    placeholder: __('Your message (255 character limit).', 'kudos-donations'),
                }) }}

            {% endblock %}
        {% endembed %}
    {% endif %}

    {# FINAL TAB #}
    {% embed 'public/modal/_tab.html.twig' with { name: 'summary' } %}
        {% from "public/macros/buttons.html.twig" import button %}
        {% block title %}{{ __('Payment', 'kudos-donations') }}{% endblock %}
        {% block text %}{{ __('By clicking donate you agree to the following payment:', 'kudos-donations') }}{% endblock %}
        {% block body %}
            {% from "public/macros/form.html.twig" import checkbox %}

            <div class="kudos_summary kd-text-left kd-block kd-bg-gray-100 kd-p-2 kd-border-0 kd-border-solid kd-border-t-2 kd-border-primary">
                <p class="kd-block kd-mb-0"><strong>{{ __('Name', 'kudos-donations') }}: </strong><span
                            class="summary_name"></span></p>
                <p class="kd-block kd-mb-0"><strong>{{ __('E-mail address', 'kudos-donations') }}
                        : </strong><span
                            class="summary_email"></span></p>
                <p class="kd-block kd-mb-0"><strong>{{ __('Amount', 'kudos-donations') }}: </strong>€<span
                            class="summary_value"></span></p>
                <p><strong>{{ __('Type', 'kudos-donations') }}: </strong><span class="summary_frequency"></span>
                </p>
            </div>

            {% if (privacy_link) %}
                {{ checkbox({
                    name: 'privacy',
                    required: true,
                    label: __( 'I agree with the %1$s privacy policy %2$s.', 'kudos-donations' ) | format('<a class="kd-text-primary hover:kd-text-primary-dark kd-shadow-none focus:kd-underline kd-cursor-pointer kd-ml-1" target="_blank" href='~privacy_link~' >', '</a>'),
                    atts: {'aria-label' : __('I agree with the privacy policy.', 'kudos-donations')}
                }) }}
            {% endif %}

            {% if (terms_link) %}
                {{ checkbox({
                    name: 'terms',
                    required: true,
                    label: __( 'I agree with the %1$s terms and conditions %2$s.', 'kudos-donations' ) | format( '<a class="kd-text-primary hover:kd-text-primary-dark kd-shadow-none focus:kd-underline kd-cursor-pointer kd-ml-1" target="_blank" href='~terms_link~'>', '</a>'),
                    atts: {'aria-label' : __('I agree with the terms and conditions.', 'kudos-donations')}
                }) }}
            {% endif %}

            {{ do_action('kudos_donate_modal_final_extra') }}

        {% endblock %}
        {% block next_button %}
            {{ button(__('Donate', 'kudos-donations'), 'primary', 'submit', {
                'class': 'kudos_submit kd-bg-lock kd-bg-no-repeat kd-bg-8 kd-bg-left-2 kd-pl-[2.5em] kd-ml-3'
            }) }}
        {% endblock %}

        {% block footer %}
            <div class="kd-block kd-mt-2">
                <div class="kd-flex kd-items-center kd-justify-center kd-text-xs kd-leading-loose kd-text-gray-500">
                    {{ __( 'Secure payment by', 'kudos-donations' ) }}
                    <div class="kd-bg-no-repeat kd-bg-center kd-bg-vendor-{{ vendor_name }} kd-flex kd-w-[40px] kd-h-[12px] kd-mb-1 kd-ml-2"></div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
</form>
<i class="kd-spinner kd-animate-loader-spin kd-hidden kd-bg-contain kd-absolute kd-top-1/2 kd-left-1/2 kd-w-8 kd-h-8 kd--ml-4 kd--mt-4 kd-z-1">
    {{ spinner | raw }}
    {% apply apply_filters('kudos_get_spinner_logo') | raw %}
        {% include 'public/logo.html.twig' with {heartColor: '#000000', lineColor: '#000000'} %}
    {% endapply %}
</i>